<li> 
  <strong><%= @user.channels.count %></strong><br>
  <%=link_to "Channels", following_user_path(@user.id)  %>
</li>
<li>
  <strong>13</strong><br>
  <%=link_to "Friends",  friends_user_path(@user.id)  %>
</li>