<li>
  <strong>12</strong><br>
  <%=link_to "Posted", "#{users_path}/#{@user[:id]}"%>
</li>
<li>
  <strong>13</strong><br>
  <%=link_to "Listener",  listener_user_path(@user.id)  %>
</li>
<li> 
  <strong>14</strong><br>
  <%=link_to "Following", following_user_path(@user.id)  %>
</li>
