<li>
  <strong>ID:</strong>
  <%= skill.id %>
  </li><li>
  <strong>Category:</strong>
  <%= skill.category %>
  </li><li>
  <strong>Score:</strong>
  <%= skill.score %>
  </li><li>
  <strong>Description:</strong>
  <%= skill.description%>  
</li>

