<% provide(:title, "Show skills")%>
<h1>Show skills</h1>

<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
    <ul class="normal_ul">
    <table class="table table-hover table-striped table-bordered">
      <%= render @skill%>
    </table>
      <%= link_to "All Skils",skills_path%>
    </ul>
  </div>
</div>
<br>


<br>
<%= link_to 'New Skill', new_skill_path %>
