<footer>
    <nav class="round">
    <ul>

    <li><%= link_to "About", 'about'%></li>
    <li><%= link_to "Contact", 'contact'%></li>
    <li><a href="http://hityixiaoyang.com">Blog</a></li>
    </ul>
    </nav>
</footer>

