<% provide(:title, @user.name)%>
<div class="row">
  <aside class="span3">
    <%= render 'shared/my_info' %>
  </aside>
  
  <div class="span9 ">
    <h3>Channels ( 88 )</h3>
      <ol class="Channels">
        show channels
      </ol>
  </div>
</div>
