<!--any? 方法就是取反 empty? 的返回值，如果对象中有内容就返回 true，没内容则返回 false -->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Error Messages Count <%= pluralize(object.errors.count, "error")%>
      <!--逐行显示错误信息-->
      <ul>
        <% object.errors.full_messages.each do |message| %>
        <li>#  <%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
