<% @user ||= current_user %>
<div class="myinfo">
  <dl>
  <section>
    <h1>
      <%= link_to gravatar_for(@user), @user %>
      <%= link_to "#{@user.name}", current_user %><br>
    </h1>
    <%if @user.admin? %>
      (Administrator) 
    <% end %>
  </section>
  </dl>
  <ul>
    <%= render 'shared/stat' %>
  </ul>
</div>
