<% provide(:title, @user.name)%>
<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
    <h3>My Resume( 88% )</h3>
      <ol class="Channels">
        show Resume
      </ol>
  </div>
</div>
