<% provide(:title, @user.name)%>
<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
      <ul class="normal_ul">
        <%=render 'user_detail'%>
      </ol>
  </div>
</div>
