<p id="notice"><%= notice %></p>
<% provide(:title, "Show Skill Item")%>
<h1>Show skill Item</h1>

<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
    <ul class="normal_ul">
    <table class="table table-hover table-striped table-bordered">
      <%= render @skill_item%>
    </table>
    </ul>
   
    <%= link_to 'Back', skill_items_path %>
  </div>
</div>
<br>
