<table class="table table-hover table-striped table-bordered">
  <div class="best_in_place_div">
  <tr><td>
    <li>
      <strong>Category:</strong>
      <%= best_in_place @profile, :category %>
    </li>

    <li>
      <strong>Stat:</strong>
      <%= best_in_place @profile, :stat %>
    </li>

    <li>
      <strong>Score:</strong>
      <%= best_in_place @profile, :score %>
    </li>
  </td></tr>
  </div>
</table>