<table class="table table-hover table-striped table-bordered">
  <div class="best_in_place_div">
  <tr><td>
    <li>
      <strong>Category:</strong>
      <%= PROFILE_CATEGORY_WORDS[@profile.category] %>
    </li>

    <li>
      <strong>Stat:</strong>
      <span id="profile_stat_span" class="badge badge-important"><%= PROFILE_STATS_WORDS[@profile.stat] %></span>
    </li>

    <li>
      <strong>Score:</strong>
      <%= @profile.score %>
    </li>
  </td></tr>
  </div>
</table>