<% provide(:title, "Listing profiles")%>
<h1>Listing profiles( <%= @profiles.count %> )</h1>

<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
    <%= render 'profile_index'%>
    
    <br>
    <%if !current_user.admin? and current_user.profile.nil? %>
      <%= link_to 'New Profile', new_profile_path %>
    <%end%>
  </div>
</div>
<br>


