<p id="notice"><%= notice %></p>
<% provide(:title, "New profile")%>
<h1>New profile</h1>
<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>

  <div class="span9 ">
    <ul class="normal_ul">
    <%= render 'form' %>
    </ul>
    <%= link_to 'Back', profiles_path %>
  </div>
</div>
