<p id="notice"><%= notice %></p>
<% provide(:title, "Show profile")%>
<h1>Show profile</h1>

<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
      <%= render @profile %>
  </div>
</div>
