<%= provide(:title, @title) %>
<h1><%= @title %></h1>
  <div class="row">
    <aside class="span3">
      <section>
        Invi..
      </section>
    </aside>
    <span class="span9">
     <section>
        My stuff..
     </section>
    </span>
  </div> 
<!--
  <p>
<%= link_to "Sign In Now!", "#", :class => "btn btn-large btn-primary"%>
<br>
-->

