<%= provide(:title, @title) %>
<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/my_info' %>
      </section>
    </aside>
    <span class="span9">
      <section>
        My stuff..
      </section>
    </span>
  </div>
<% else %>
  <h3>We're Waiting for Your </h3><br>
  <%= link_to "Sign In Now!", "#", :class => "btn btn-large btn-primary"%><br>
<% end %>

