<!-- 显示单篇微博的局部视图 -->
<li>
  <span class="content"><%= micropost.content %></span><br>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if !@user.nil? && current_user?(@user) %>
    <%=link_to "Delete", micropost, method: :delete, data:{ confirm:"You sure?" }   %>
  <% end%>

</li>
