<h1>Sample App v0.0.2</h1>
<p>
<%= link_to "sign Up Now!", "#", :class => "signup_button round"%>
<br>
This is home page for Sample Application<br>
(1).create on 2Oct13<br>
(2).fill the layout on 19Oct13<br>
</p>
